<p id="ranga">Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself. ra</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>



<!-- <ul>
  <li *ngFor="let cat of cate.sources">{{ cat.name }}</li>
</ul> -->

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

